body{font-size:12px;font-family:arial;background:url(images/bg.gif) repeat-x;margin:0;padding:0}
img{border:0}
a{color:#fff;text-decoration:none}
.wrap{width:1000px}
.bannertop{background:url(images/Banner.jpg) no-repeat;height:120px;text-align:left;box-shadow:0 0 0 #000,0px 0 10px #000}
.logotop{background:url(images/toplogo.gif) no-repeat;height:195px;text-align:left}
.chonnhanh{font-size:16px;font-family:Arial;font-weight:700;margin:0;padding:0}
.chonnhanh a:hover{color:#fabe4e}
.nensim{background:#e6e6e6}
.chuxanhdam{background:#333;color:#ff0;padding:5px}
.chuxanhdam2{font-size:14px;font-family:arial;color:#666;padding:5px}
.mauchutim{color:#03f;text-decoration:underline}
.mauchutim1{color:#ff0}
.chutrang{color:#fff;text-align:center}
.chutrang2{text-align:center;font-size:13px;font-weight:700;color:#fff;font-family:arial;padding:5px}
.link1 a{background:#39f;color:#39f}
.link2 a{background:#090;color:#090}
.link3 a{background:#a52a2a;color:#a52a2a}
.nenmenu1{background:#39f}
.adlef{padding-left:12px;text-align:left;border-right:1px solid #888;border-bottom:1px solid #888}
.mausosim{width:100%;display:block;font-weight:700;font-size:15px;color:#06f;text-decoration:none}
.menutop{display:inline-block;background:url(images/main-bg.gif) repeat-x;width:100%}
.topbar{height:25px;font-weight:700;padding-left:30px}
.menutop a{display:block;height:20px;font-weight:700;font-size:15px;color:#fff;text-decoration:none;padding:10px}
.menutop a:hover{background:url(images/bgsl.gif) repeat-x;font-weight:700;font-size:15px;color:#ff0}
.menuxo{background:url(images/line.jpg) repeat-y;line-height:3px;width:145px}
.nutxo{width:110px;margin-left:20px}
.menugiua{background:#39f;height:25px;font-size:12px;color:#fff;font-family:Arial;text-align:left}
.botren{background:url(images/bar.gif) repeat-x;width:100%;height:27px;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-khtml-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;display:inline-block}
.botim{background:#fff;width:95%;margin-bottom:10px;-webkit-border-radius:7px 7px 7px 7px;-moz-border-radius:7px;-khtml-border-radius:7px 7px 7px 7px;border-radius:7px 7px 7px 7px;border:1px solid #39f;display:inline-block;box-shadow:0 0 0 #000,0px 0 10px #000}
.nutbam{background:url(images/bar.gif) repeat-x;-webkit-border-radius:10px 10px 10px 10px;-moz-border-radius:10px;-khtml-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px;border:1px solid #39f;text-align:center;display:inline-block;font-weight:700;color:#fff;height:15px;padding:5px 15px}
.nutbam a{background:url(images/bar.gif) repeat-x;-webkit-border-radius:10px 10px 10px 10px;-moz-border-radius:10px;-khtml-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px;border:1px solid #39f;text-align:center;display:inline-block;font-weight:700;color:#fff;height:15px;padding:5px 15px}
.nutbam:hover{background:green;color:#fff;padding:5px 15px}
.nutbam2{background:url(images/bar.gif) repeat-x;-webkit-border-radius:10px 10px 10px 10px;-moz-border-radius:10px;-khtml-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px;border:1px solid #39f;text-align:center;display:inline-block;font-weight:700;color:#fff;height:27px;padding:5px}
.nutbam2 a{background:url(images/bar.gif) repeat-x;-webkit-border-radius:10px 10px 10px 10px;-moz-border-radius:10px;-khtml-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px;border:1px solid #39f;text-align:center;display:inline-block;font-weight:700;color:#fff;height:27px;padding:5px}
.nutbam2:hover{background:green;color:#fff;padding:5px}
.nuttim{background:url(images/menubar.png) repeat-x;width:100px;-webkit-border-radius:0 15px 15px 0;-moz-border-radius:0 15px 15px 0;-khtml-border-radius:0 15px 15px 0;border-radius:0 15px 15px 0;border:1px solid #39f;text-align:center;display:inline-block;font-weight:700;color:#fff;height:31px}
.nuttim1{background:url(images/menubar.png) repeat-x;width:100px;-webkit-border-radius:15px 0 0 15px;-moz-border-radius:15px 0 0 15px;-khtml-border-radius:15px 0 0 15px;border-radius:15px 0 0 15px;border:1px solid #39f;text-align:center;display:inline-block;font-weight:700;color:#fff;height:31px}
.nuttim:hover{background:#36b;color:#fff;padding:5px}
.paging2 a{background:#39f;font-weight:900;color:#fff;width:15px;height:15px;padding:5px 10px}
.paging a{background:#fff;border:1px dotted #39f;color:#39f;width:15px;height:10px;padding:5px 10px}
.padding1{padding-top:7px;padding-bottom:7px;padding-left:7px}
.content{background:#fff;padding-top:10px;-webkit-border-radius:0 0 15px 15px;-moz-border-radius:0 0 15px 15px;-khtml-border-radius:0 0 15px 15px;border-radius:0 0 15px 15px;border:1px solid #666;box-shadow:0 0 0 #000,0px 0 10px #333}
.content .menucontent,.content .cartcontent{background:#e9e9e9;margin-bottom:10px;text-align:left;width:188px;padding:5px}
.content .bentrai{width:198px;float:left;margin-left:4px;margin-right:10px;text-align:left}
.listmenu{background:#fff;list-style:none;box-shadow:0 0 0 #000,0px 0 5px #000;margin:0;padding:0}
.listmenu li{height:25px;display:block;border-bottom:1px solid #cfcfcf;margin:0;padding:0}
.listmenu li li{display:none}
.listmenu li a{display:block;text-decoration:none;font-weight:700;color:#06f;font-family:arial;padding:5px 15px}
.listmenu li a:hover,.listmenu .selected a{background:#39f;color:#fff}
.content .menucontent h2{font-size:12px;background:url(images/menubar.png) no-repeat;width:188px;height:22px;color:#FFF;text-align:center;margin:-5px;padding:10px}
.benphai{float:left;margin-left:10px;margin-right:5px}
.bentrong{background:#fff 0 0 no-repeat;width:569px;float:center;text-align:left;margin-bottom:5px}
.bentrong h1,.bentrong h2{font-size:16px;color:#06c;display:block;height:20px;border:1px;border-color:#666;margin:15px 0 5px;padding:5px 15px}
.bentrong .sim{text-align:center;color:#0066b3;font-weight:700;font-size:14px}
.footer{height:60px;background:#000;width:100%}
.footer .menubottom{text-align:left;height:0;width:0;float:left}
.footer .menubottom p{width:0;padding-top:0;padding-left:0}
.footer .menubottom p a{color:#FFF}
.footer .footercontent{display:block;width:999px;float:right;margin-top:0;text-align:left}
* html .cell{display:inline}
.paging a:hover,.paging2{background:#39e;font-weight:700;color:#fff;width:15px;height:15px;padding:5px 10px}
a:hover,.chonnhanh a{color:#fff}